.game-card {
  padding: 10px;

  background: #27292b;

  border-radius: 12px;

  transition: 0.3s;
}

.game-card:hover {
  transform: translateY(-5px);

  background: #2d2f31;
}

.game-card img {
  width: 100%;
  height: 110px;

  display: block;

  object-fit: cover;

  border-radius: 10px;
}

.game-info {
  display: flex;
  justify-content: space-between;

  padding: 10px 2px 3px;
}

.game-info h3 {
  margin-bottom: 6px;

  font-size: 12px;
}

.game-info p {
  color: #777;

  font-size: 9px;
}

.game-stats {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.game-stats span {
  color: #aaa;

  font-size: 9px;
}

.game-stats svg {
  margin-right: 4px;

  color: #f6df4c;
}

.game-stats span:last-child svg {
  color: #ec4f91;
}